@if(modulo) {
<section>
    <h2>
        {{ modulo.title }}
    </h2>
    <table>
        <thead>
            <tr>
                <th scope="col">
                    Corda
                </th>
                <th [attr.colspan]="modulo.frets.length" scope="col">
                    Casa
                </th>
            </tr>
            <tr>
                <th scope="col"></th>
                @for(fret of modulo.frets; track $index) {
                <th scope="col">
                    {{ fret }}
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for(string of modulo.strings; track $index) {
            <tr>
                <th scope="row">
                    {{ string.string }}
                </th>
                @for(note of string.notes; track $index) {
                <td [ngClass]="{
                    'nota': note !== ''
                }">
                    {{ note }}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</section>
}