@if(shape) {
<section>
    <h2 appSectionTitle>
        {{ shape.title }}
    </h2>
    <table>
        <tbody>
            @for(guitarString of shape.guitarStrings; track $index) {
            <tr>
                @for(note of guitarString.notes; track $index) {
                <td [ngClass]="{
                    'nota': note !== '',
                    'tonic': note !== '' && note === tonic
                }">
                    {{ note }}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</section>
}
