@if(shape) {
<app-card [title]="shape.title">
    <table class="shape-table">
        <tbody>
            @for(guitarString of shape.guitarStrings; track $index) {
            <tr>
                @for(note of guitarString.notes; track $index) {
                <td class="shape-table__cell" [ngClass]="{
                    'shape-table__cell--nota': note !== '',
                    'shape-table__cell--tonic': note !== '' && note === tonic
                }">
                    {{ note }}
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</app-card>
}
