<div class="select">
    <label for="dominant_hand_select">
        Selecione a sua mão dominante:
    </label>
    <select name="scale" id="dominant_hand_select" [(ngModel)]="dominantHand">
        <option value="right_handed" selected><span aria-hidden="true">👉</span> Sou destro</option>
        <option value="left_handed"><span aria-hidden="true">👈</span> Sou canhoto</option>
    </select>
</div>
<div class="radio">
    <fieldset id="dominant_hand_fieldset">
        <legend>
            Selecione a sua mão dominante:
        </legend>
        <span class="radio_option">
            <input type="radio" id="right_handed_radio" name="dominant_hand" value="right_handed"
                [(ngModel)]="dominantHand">
            <label for="right_handed_radio">
                <span aria-hidden="true">👉</span> Sou destro
            </label>
        </span>
        <span class="radio_option">
            <input type="radio" id="left_handed_radio" name="dominant_hand" value="left_handed"
                [(ngModel)]="dominantHand">
            <label for="left_handed_radio">
                <span aria-hidden="true">👈</span> Sou canhoto
            </label>
        </span>
    </fieldset>
</div>