.select {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: .5rem;
    }
}

.radio {
    display: none;
}

.radio_option {
    margin-right: 1rem;

    * {
        cursor: pointer;
    }
}


@media screen and (min-width: 700px) {
    .select {
        display: none;
    }

    .radio {
        display: grid;
    }
}