<app-note-type-filter [(noteType)]="noteType"></app-note-type-filter>
@if(selectedRootNote()) {
<section>
    <h2>
        {{ selectedRootNote() }}
    </h2>
    <table>
        <thead>
            <tr>
                <th scope="row">
                    Intervalo
                </th>
                <th scope="col">
                    T
                </th>
                <th scope="col">
                    2m
                </th>
                <th scope="col">
                    2M
                </th>
                <th scope="col">
                    3m
                </th>
                <th scope="col">
                    3M
                </th>
                <th scope="col">
                    4
                </th>
                <th scope="col">
                    Tri
                </th>
                <th scope="col">
                    5
                </th>
                <th scope="col">
                    6m
                </th>
                <th scope="col">
                    6M
                </th>
                <th scope="col">
                    7m
                </th>
                <th scope="col">
                    7M
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    Nota
                </th>
                @for(interval of intervalsKeys; track $index) {
                <td>
                    {{ rootNoteIntervals()[interval] }}
                </td>
                }
            </tr>
            <tr>
                <th scope="row">
                    Distância (em tons)
                </th>
                @for(interval of intervalsKeys; track $index) {
                <td>
                    {{ intervalsSteps[interval] }}
                </td>
                }
            </tr>
        </tbody>
    </table>
</section>
}