<header>
    <h1>
        Módulos gregos
    </h1>
</header>

<main>
    <label id="radio-label">
        Escolha qual escala você quer estudar:
    </label>
    <mat-radio-group aria-labelledby="radio-label" [(ngModel)]="escalaSelecionada">
        <mat-radio-button value="maior">Maior</mat-radio-button>
        <mat-radio-button value="pentatonica">Pentatônica</mat-radio-button>
        <mat-radio-button value="pentatonica de blues">Pentatônica de blues</mat-radio-button>
    </mat-radio-group>

    @for(modulo of modulosGregos(); track modulo) {
    <app-modulo [modulo]="modulo" />
    }
</main>