<header>
    <h1>
        C A G E D
    </h1>
</header>
<main>
    <fieldset>
        <legend>
            Escolha qual escala você quer estudar:
        </legend>
        <span class="radio_option">
            <input type="radio" id="major_radio" name="scale" value="major" [(ngModel)]="scaleSelected">
            <label for="major_radio">
                Maior
            </label>
        </span>
        <span class="radio_option">
            <input type="radio" id="penta_radio" name="scale" value="penta" [(ngModel)]="scaleSelected">
            <label for="penta_radio">
                Penta
            </label>
        </span>
        <span class="radio_option">
            <input type="radio" id="penta_blues_radio" name="scale" value="penta_blues" [(ngModel)]="scaleSelected">
            <label for="penta_blues_radio">
                Penta Blues
            </label>
        </span>
    </fieldset>
    <fieldset>
        <legend>
            Selecione a sua mão dominante:
        </legend>
        <span class="radio_option">
            <input type="radio" id="right_handed_radio" name="dominant_hand" value="right_handed"
                [(ngModel)]="dominantHand">
            <label for="right_handed_radio">
                Sou destro
            </label>
        </span>
        <span class="radio_option">
            <input type="radio" id="left_handed_radio" name="dominant_hand" value="left_handed"
                [(ngModel)]="dominantHand">
            <label for="left_handed_radio">
                Sou canhoto
            </label>
        </span>
    </fieldset>
    @for(shape of caged(); track $index) {
    <app-modulo [modulo]="shape" />
    }
</main>