<details class="accordion">
    <summary class="accordion__summary">
        <div class="accordion__summary-content">
            <div class="accordion__title-group">
                <span appSectionTitle>{{ title() }}</span>
                @if (subtitle()) {
                    <span class="accordion__subtitle">{{ subtitle() }}</span>
                }
            </div>
            <svg class="accordion__chevron" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
                <path d="M6 9l6 6 6-6"/>
            </svg>
        </div>
    </summary>

    <div class="accordion__body">
        <ng-content></ng-content>
    </div>
</details>
