.select_options {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: .5rem;
    }
}

.radio_options {
    display: none;
    grid-template-areas:
        'scale'
        'note-type'
        'dominant-hand';

    #scale_fieldset {
        grid-area: scale;
    }

    #note_type_fieldset {
        grid-area: note-type;

    }

    #dominant_hand_fieldset {
        grid-area: dominant-hand;
    }
}

.radio_option {
    margin-right: 1rem;

    * {
        cursor: pointer;
    }
}

@media screen and (min-width: 700px) {
    .select_options {
        display: none;
    }

    .radio_options {
        display: grid;
    }
}

@media screen and (min-width: 1024px) {
    .radio_options {
        grid-template-areas:
            'scale note-type'
            'dominant-hand note-type';
        column-gap: 1.5rem;
    }

    #note_type_fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}