/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

fieldset {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

input[type="radio"]+label {
  cursor: pointer;
}