.tone-and-scale__tone-row {
    flex-basis: 100%;
}

.tone-and-scale__select {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.tone-and-scale__radios {
    display: none;
}

@media screen and (min-width: 700px) {
    .tone-and-scale__select {
        display: none;
    }

    .tone-and-scale__radios {
        display: flex;
        align-items: flex-end;
    }
}
