<div class="field-select">
    <label class="field-select__label" for="dominant_hand_select">
        Mão dominante
    </label>
    <select class="select-input" id="dominant_hand_select" name="dominant_hand_select"
        [ngModel]="dominantHand()" (ngModelChange)="dominantHand.set($event)">
        <option value="right_handed"><span aria-hidden="true">👉</span> Sou destro</option>
        <option value="left_handed"><span aria-hidden="true">👈</span> Sou canhoto</option>
    </select>
</div>
<div class="field-radios">
    <fieldset class="fieldset">
        <legend class="fieldset__legend">
            Mão dominante
        </legend>
        <span class="radio-option">
            <input class="radio-option__input" type="radio" id="dominant_hand_right" name="dominant_hand" value="right_handed"
                [ngModel]="dominantHand()" (ngModelChange)="dominantHand.set($event)">
            <label class="radio-option__label" for="dominant_hand_right"
                [class.radio-option__label--active]="dominantHand() === 'right_handed'">
                <span aria-hidden="true">👉</span> Sou destro
            </label>
        </span>
        <span class="radio-option">
            <input class="radio-option__input" type="radio" id="dominant_hand_left" name="dominant_hand" value="left_handed"
                [ngModel]="dominantHand()" (ngModelChange)="dominantHand.set($event)">
            <label class="radio-option__label" for="dominant_hand_left"
                [class.radio-option__label--active]="dominantHand() === 'left_handed'">
                <span aria-hidden="true">👈</span> Sou canhoto
            </label>
        </span>
    </fieldset>
</div>
